@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap");
body {
    margin: 0;
    padding: 0;
    position: relative;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: transparent;
    color: white;
}
.flex {
    display: flex;
    height: 100vh;
}
.normal {
    width: 50%;
    height: 100%;
    background-image: url("/image/black-star.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    font-family: "Exo 2", sans-serif;
}
.text {
    text-align: center;
}
.three {
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}
