body {
    margin: 0;
    padding: 0;
    position: relative;
}
.flex {
    display: flex;
    height: 100vh;
}
.normal {
    width: 50%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Exo 2", sans-serif;
}
.three {
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}
